<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <!-- Navigation Links -->
            <div class="col-md-4 mb-4">
                <h5>Explore</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'homepage' %}" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="{% url 'homepage' %}" class="text-white text-decoration-none">Products</a></li>
                    <li><a href="{% url 'about' %}" class="text-white text-decoration-none">About Us</a></li>
                    <li><a href="{% url 'contact' %}" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <!-- Contact Info -->
            <div class="col-md-4 mb-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:tkranjan025@bhu.ac.in"
                            class="text-white text-decoration-none">tkranjan025@bhu.ac.in</a></li>
                    <li>Phone: <a href="tel:+91 7491062404" class="text-white text-decoration-none">+91 7491062404</a>
                    </li>
                </ul>
            </div>
            <!-- Social Media -->
            <div class="col-md-4 mb-4">
                <h5>Follow Us</h5>
                <div class="d-flex gap-3">
                    <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/tk-ranjan-lnkd/" class="text-white"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
            <!-- Newsletter Signup -->

            {% comment %}
            <div class="col-md-3 mb-4">
                <h5>Newsletter</h5>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="tkranjan025@bhu.ac.in" aria-label="tkranjan025@bhu.ac.in">
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            {% endcomment %}

        </div>
        <!-- Copyright -->
        <div class="row mt-4">
            <div class="col text-center">
                <p class="mb-0">&copy; 2026 TkRanjan. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>